@import "../node_modules/bootstrap/scss/bootstrap";

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

main {
    &.container{
        padding: 60px 15px 0;
    }
}

.users-table{
    tr{
        cursor: pointer;
    }
    
    .preview{
        height: 30px;
    }
}

nav {
    .nav-item{
        cursor: pointer;
    }
    
    #inputToken{
        width: 440px;
    }
}

